
<mat-card class="m-3 p-3 card">
  <table class="table" mat-table border="1">
   <tr>
    <th>ID</th>
    <td>{{userData.id}}</td>
   </tr>
   <hr>
    <tr>
    <th>User Name</th>
    <td>{{userData.username}}</td>
   </tr>
   <tr>
    <th>First Name</th>
    <td>{{userData.firstname}}</td>
   </tr>
   <tr>
    <th>Last Name</th>
    <td>{{userData.lastname}}</td>
   </tr>
   <tr>
    <th>Email</th>
    <td>{{userData.email}}</td>
   </tr>
   <tr>
    <th>Phone</th>
    <td>{{userData.phone}}</td>
   </tr>
  </table>
</mat-card>
